Repository Amorim33/resume-generator: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier-styles, prettier-markdown, prettier-yml, prettier-json

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

skip_output:
  - meta
  - success
  - summary

post-merge:
  parallel: true
  commands:
    install-dependencies:
      run: |
        if ! git diff HEAD^ HEAD --exit-code -- pnpm-lock.yaml; then
          pnpm install
        else
          echo "pnpm-lock.yaml unchanged, skipping pnpm install"
        fi

pre-push:
  commands:
    packages-audit:
      run: pnpm audit

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: |
        pnpm prettier --cache --write {staged_files} && git add {staged_files}
        pnpm eslint --fix {staged_files} && git add {staged_files}
    prettier-styles:
      glob: '*.{css,scss,less}'
      run: pnpm prettier --cache --write {staged_files} && git add {staged_files}
    prettier-markdown:
      glob: '*.{md,mdx}'
      run: pnpm prettier --cache --write {staged_files} && git add {staged_files}
    prettier-yml:
      glob: '*.{yml,yaml}'
      run: pnpm prettier --cache --write {staged_files} && git add {staged_files}
    prettier-json:
      glob: '*.json'
      run: pnpm prettier --cache --write {staged_files} && git add {staged_files}
    spellcheck:
      run: pnpm cspell --no-must-find-files --cache {staged_files}

commit-msg:
  commands:
    lint-commit-message:
      run: pnpm commitlint --edit {1}

feat: add domain package
  docker-compose.yml
  packages/domain/.env.example
  packages/domain/.eslintrc.cjs
  packages/domain/package.json
  packages/domain/src/database.ts
  packages/domain/src/index.ts
  packages/domain/src/lib/config.ts
  packages/domain/src/migrate.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/migrations/index.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/dto/user-schema.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/domain/test/setup-pg.ts
  packages/domain/tsconfig.json
  packages/domain/vitest.config.ts
  packages/tsconfig/tsconfig.node.json
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

feat: add dataloader
  apps/graphql/package.json
  apps/graphql/src/app.ts
  apps/graphql/src/lib/context.ts
  packages/domain/package.json
  packages/domain/src/index.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/dto/user-schema.ts
  packages/domain/src/modules/user/user-loader.ts
  packages/domain/src/modules/user/user-repository.ts
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

ci: add workflows
  .github/actions/setup-environment/action.yml
  .github/workflows/ci.yml
Due: prettier-yml

feat: add user upsert mutation
  apps/graphql/src/modules/user/mutations/user-upsert-resolver.ts
  apps/graphql/src/modules/user/user-resolver.ts
  apps/graphql/src/schema.ts
  apps/resume-generator-web/src/modules/user/UserEditModal.tsx
  package.json
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/schema/graphql.graphql
Due: eslint, prettier-json

ci: add codegen
  .github/actions/setup-environment/action.yml
  apps/graphql/esbuild.config.ts
  apps/graphql/package.json
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

test: add graphql tests
  apps/graphql/package.json
  apps/graphql/src/app.ts
  apps/graphql/src/lib/config.ts
  apps/graphql/src/modules/user/__tests__/user-queries.spec.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/test/setup-env.ts
  apps/graphql/vitest.config.ts
  packages/domain/.env.example
  packages/domain/src/database.ts
  packages/domain/src/index.ts
  packages/domain/src/lib/config.ts
  packages/domain/src/mock/user.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
Due: eslint, prettier-json

Add user upsert mutation (#5)
  .github/actions/setup-environment/action.yml
  apps/graphql/esbuild.config.ts
  apps/graphql/package.json
  apps/graphql/src/app.ts
  apps/graphql/src/lib/config.ts
  apps/graphql/src/modules/user/__tests__/user-queries.spec.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/src/modules/user/mutations/user-upsert-resolver.ts
  apps/graphql/src/modules/user/user-resolver.ts
  apps/graphql/src/schema.ts
  apps/graphql/test/setup-env.ts
  apps/graphql/vitest.config.ts
  apps/resume-generator-web/src/modules/user/UserEditModal.tsx
  package.json
  packages/domain/.env.example
  packages/domain/src/database.ts
  packages/domain/src/index.ts
  packages/domain/src/lib/config.ts
  packages/domain/src/mock/user.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/schema/graphql.graphql
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

fix: enable error masking and add logging
  apps/graphql/.env.example
  apps/graphql/esbuild.config.ts
  apps/graphql/package.json
  apps/graphql/src/app.ts
  apps/graphql/src/lib/config.ts
  apps/graphql/src/lib/context.ts
  apps/graphql/src/lib/logger.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/schema/package.json
  packages/schema/src/index.ts
Due: eslint, prettier-json

fix: enable error masking and add logging (#7)
  apps/graphql/.env.example
  apps/graphql/esbuild.config.ts
  apps/graphql/package.json
  apps/graphql/src/app.ts
  apps/graphql/src/lib/config.ts
  apps/graphql/src/lib/context.ts
  apps/graphql/src/lib/logger.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/schema/package.json
  packages/schema/src/index.ts
Due: eslint, prettier-json

fix: integrate user edit screen
  apps/graphql/src/app.ts
  apps/resume-generator-web/index.html
  apps/resume-generator-web/package.json
  apps/resume-generator-web/public/question-mark.png
  apps/resume-generator-web/src/lib/context.ts
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/modules/user/UserEditModal.tsx
  apps/resume-generator-web/src/modules/user/UserGenerateResume.tsx
  apps/resume-generator-web/src/providers/BaseProviders.tsx
  apps/resume-generator-web/src/routes/router.ts
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

fix: integrate user edit screen (#8)
  apps/graphql/src/app.ts
  apps/resume-generator-web/index.html
  apps/resume-generator-web/package.json
  apps/resume-generator-web/public/question-mark.png
  apps/resume-generator-web/src/lib/context.ts
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/modules/user/UserEditModal.tsx
  apps/resume-generator-web/src/modules/user/UserGenerateResume.tsx
  apps/resume-generator-web/src/providers/BaseProviders.tsx
  apps/resume-generator-web/src/routes/router.ts
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

fix: optimize question mark image
  apps/resume-generator-web/public/question-mark.png
  apps/resume-generator-web/public/question-mark.webp
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/providers/BaseProviders.tsx
Due: eslint

fix: optimize question mark image (#9)
  apps/resume-generator-web/public/question-mark.png
  apps/resume-generator-web/public/question-mark.webp
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/providers/BaseProviders.tsx
Due: eslint

feat: add layout header
  apps/resume-generator-web/index.html
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

feat: add layout header (#14)
  apps/resume-generator-web/index.html
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

feat: add resume generate screen
  apps/resume-generator-web/src/components/ControlledInput.tsx
  apps/resume-generator-web/src/components/ControlledTextArea.tsx
  apps/resume-generator-web/src/modules/resume/ResumeGenerate.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/modules/user/UserGenerateResume.tsx
  apps/resume-generator-web/src/routes/router.ts
Due: eslint

feat: add resume generate screen (#15)
  apps/resume-generator-web/src/components/ControlledInput.tsx
  apps/resume-generator-web/src/components/ControlledTextArea.tsx
  apps/resume-generator-web/src/modules/resume/ResumeGenerate.tsx
  apps/resume-generator-web/src/modules/user/UserEdit.tsx
  apps/resume-generator-web/src/modules/user/UserGenerateResume.tsx
  apps/resume-generator-web/src/routes/router.ts
Due: eslint

feat: add resumes connection
  apps/graphql/src/app.ts
  apps/graphql/src/lib/context.ts
  apps/graphql/src/modules/node/__tests__/node-queries.spec.ts
  apps/graphql/src/modules/node/node-resolver.ts
  apps/graphql/src/modules/resume/__tests__/resume-queries.spec.ts
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/graphql/src/modules/user/__tests__/user-queries.spec.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/src/modules/user/mutations/user-upsert-resolver.ts
  apps/graphql/src/modules/user/user-resolver.ts
  apps/graphql/src/schema.ts
  apps/graphql/vitest.config.ts
  packages/domain/src/database.ts
  packages/domain/src/index.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/mock/mock-pool.ts
  packages/domain/src/mock/resume.ts
  packages/domain/src/modules/resume/__tests__/resume-loader.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-loader.ts
  packages/domain/src/modules/user/user-loader.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/domain/vitest.config.ts
  packages/schema/graphql.graphql
Due: eslint

feat: add resumes connection (#16)
  apps/graphql/src/app.ts
  apps/graphql/src/lib/context.ts
  apps/graphql/src/modules/node/__tests__/node-queries.spec.ts
  apps/graphql/src/modules/node/node-resolver.ts
  apps/graphql/src/modules/resume/__tests__/resume-queries.spec.ts
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/graphql/src/modules/user/__tests__/user-queries.spec.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/src/modules/user/mutations/user-upsert-resolver.ts
  apps/graphql/src/modules/user/user-resolver.ts
  apps/graphql/src/schema.ts
  apps/graphql/vitest.config.ts
  packages/domain/src/database.ts
  packages/domain/src/index.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/mock/mock-pool.ts
  packages/domain/src/mock/resume.ts
  packages/domain/src/modules/resume/__tests__/resume-loader.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-loader.ts
  packages/domain/src/modules/user/user-loader.ts
  packages/domain/src/modules/user/user-repository.ts
  packages/domain/vitest.config.ts
  packages/schema/graphql.graphql
Due: eslint

Update README.md
  README.md
Due: prettier-markdown

feat: add resume generate mutation
  apps/graphql/.env.example
  apps/graphql/package.json
  apps/graphql/src/modules/resume/mutations/__tests__/resume-generate-mutation.spec.ts
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/src/schema.ts
  apps/graphql/test/setup-env.ts
  apps/graphql/test/setup.ts
  apps/graphql/vitest.config.ts
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/resume/ResumeGenerate.tsx
  cspell.json
  packages/domain/src/index.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/mock/user.ts
  packages/domain/src/modules/resume/__tests__/resume-repository.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-repository.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/schema/graphql.graphql
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

feat: add resume generate mutation (#17)
  README.md
  apps/graphql/.env.example
  apps/graphql/package.json
  apps/graphql/src/modules/resume/mutations/__tests__/resume-generate-mutation.spec.ts
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/src/modules/user/mutations/__tests__/user-upsert-mutation.spec.ts
  apps/graphql/src/schema.ts
  apps/graphql/test/setup-env.ts
  apps/graphql/test/setup.ts
  apps/graphql/vitest.config.ts
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/resume/ResumeGenerate.tsx
  cspell.json
  packages/domain/src/index.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/mock/user.ts
  packages/domain/src/modules/resume/__tests__/resume-repository.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-repository.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/schema/graphql.graphql
  pnpm-lock.yaml
Due: eslint, prettier-markdown, prettier-yml, prettier-json

chore: update vitest and vite
  apps/graphql/package.json
  apps/resume-generator-web/package.json
  package.json
  packages/domain/package.json
  pnpm-lock.yaml
Due: prettier-yml, prettier-json

chore: update vitest and vite (#19)
  apps/graphql/package.json
  apps/resume-generator-web/package.json
  package.json
  packages/domain/package.json
  pnpm-lock.yaml
Due: prettier-yml, prettier-json

feat: add resume edit screen
  apps/graphql/esbuild.config.ts
  apps/graphql/package.json
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
  apps/resume-generator-web/src/routes/router.ts
  cspell.json
  packages/domain/package.json
  packages/relay/src/fetch-with-retries.ts
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

feat: add resume edit screen (#20)
  apps/graphql/esbuild.config.ts
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/resume-generator-web/package.json
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
  apps/resume-generator-web/src/routes/router.ts
  cspell.json
  packages/relay/src/fetch-with-retries.ts
  packages/relay/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier-yml, prettier-json

fix: add generate link button
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/test/setup.ts
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
Due: eslint

fix: add generate link button (#21)
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/test/setup.ts
  apps/resume-generator-web/src/modules/layout/Layout.tsx
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
Due: eslint

feat: add timestamp
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
  packages/domain/src/lib/timestampSchema.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/modules/resume/__tests__/resume-loader.spec.ts
  packages/domain/src/modules/resume/__tests__/resume-repository.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-loader.ts
  packages/domain/src/modules/resume/resume-repository.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/dto/user-schema.ts
  packages/domain/src/modules/user/user-repository.ts
Due: eslint

feat: add timestamp (#22)
  apps/graphql/src/modules/resume/mutations/resume-generate-resolver.ts
  apps/graphql/src/modules/resume/resume-resolver.ts
  apps/resume-generator-web/src/modules/resume/ResumeEdit.tsx
  apps/resume-generator-web/src/modules/resume/Resumes.tsx
  packages/domain/src/lib/timestampSchema.ts
  packages/domain/src/migrations/create-tables.ts
  packages/domain/src/mock/resume.ts
  packages/domain/src/mock/user.ts
  packages/domain/src/modules/resume/__tests__/resume-loader.spec.ts
  packages/domain/src/modules/resume/__tests__/resume-repository.spec.ts
  packages/domain/src/modules/resume/dto/resume-schema.ts
  packages/domain/src/modules/resume/resume-loader.ts
  packages/domain/src/modules/resume/resume-repository.ts
  packages/domain/src/modules/user/__tests__/user-repository.spec.ts
  packages/domain/src/modules/user/dto/user-schema.ts
  packages/domain/src/modules/user/user-repository.ts
Due: eslint
